@charset "utf-8";
/* CSS Document */

/* # = ID
	. = class */

body {
background:url(images/bg.jpg)no-repeat fixed center top / 100% 100% transparent;
}

#container {
	position:absolute;
	margin-left:30%;
	margin-right:30%;
	margin-top:8%;
	width:40%;
	box-shadow: 8px 8px 5px rgba(153, 153, 153, 0.2);
	border: 1px solid #09C;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
}

#tbar{
	width:100%;
	height:50px;
	background-color:#09C;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

#ttext{
	position:static;
	padding-top:20px;
	padding-left:5px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-weight:bold;
	font-size:larger;
}

#form-area{
	height:auto;
	background-color:#FAFAFA;
	border-bottom-left-radius:4.2px;
	border-bottom-right-radius:4.2px;
}

#login-form {
	font-family:Arial, Helvetica, sans-serif;
	padding: 15px 10px 15px 10px;
}

#flogin{
	border-color:rgba(132, 132, 132, 0.6);
	border-size: 1px;	
	border-radius:3px;
}

#blogin{
	float:right;
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
	height:40px;
	width:60px;
	border-radius:3px;
	font-weight:400;
	font-size:medium;
}

#blogin:hover{
	float:right;
	color: #fff;
	background-color: #28558d;
	border-color: #285e8e;
	height:40px;
	width:60px;
	border-radius:3px;
	font-weight:400;
	font-size:medium;
}

#blogin2{
	float:right;
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
	height:40px;
	width:80px;
	border-radius:3px;
	font-weight:400;
	font-size:medium;
	margin-right:10px;
}

#blogin2:hover{
	float:right;
	color: #fff;
	background-color: #28558d;
	border-color: #285e8e;
	height:40px;
	width:80px;
	border-radius:3px;
	font-weight:400;
	font-size:medium;
}

#reg-form {
	font-family:Arial, Helvetica, sans-serif;
	padding: 15px 10px 15px 10px;
}

#freg{
	border-color:rgba(132, 132, 132, 0.6);
	border-size: 1px;	
	border-radius:3px;
}